<div class="main-menu-container">
  <div class="folder-container" (click)="folderClicked('home')">
    <img src="assets/images/home-main.png" alt="home-main" />
    <p>Home</p>
  </div>

  <div class="folder-container" (click)="folderClicked('personal-info')">
    <img src="assets/images/education-main.png" alt="education-main" />
    <p>Personal Information</p>
  </div>

  <div class="folder-container" (click)="folderClicked('hobbies')">
    <img src="assets/images/hobbies-main.png" alt="hobbies-main" />
    <p>Hobbies</p>
  </div>
</div>
