@import "../../assets/styles/colors";

.main-content {
  display: flex;
  flex-direction: column;
}

.window-content {
  padding: 50px;
  width: auto;
  max-height: 100%;
  overflow-y: auto;
}

.tab-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;

  img {
    width: 40px;
  }

  p {
    font-size: 24px;
    margin-left: 12px;
    font-family: Tahoma;
  }
}

.tab-description {
  overflow: hidden;
}
